html{
    font-size: 10px;
}

h1{
    font-size: 130px;
    text-align: center;
    font-style: italic;
}


.photoGrid {
    display: flex;
    flex-wrap: wrap;
    max-width: 1000px;
    margin: 0 auto;
   }
   .figure {
    flex-basis: calc(33.333% - 4rem);
    border: 1px solid #d3d3d3;
    padding: 2rem;
    flex-grow: 1;
    margin: 0 2rem 2rem 2rem;
   }

   .photo {
    width: calc(100% + 4rem);
    margin-left: -2rem;
    margin-top: -2rem;
    max-width: none;
   }

  .button-container{
      display: flex;
      justify-content: center;
  }